.ingredients-white-box {
  background-color: white;
  align-items: center;
  border-radius: 0.8rem;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  max-width: 32rem;
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.ingredients-container {
  display: flex;
  flex-direction: column;

}

.ingredients-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.ingredientsList-container::-webkit-scrollbar {
  display: none;
}

.ingredientsList-container {
  margin: 1rem 0;
  margin: 1rem 0;
  height: calc(100vh - 50rem);
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  overflow: auto;
}

.ingredient-text {
  font-size: 1.4rem;
}

.remove-ingredient-button {
  color: var(--red);
}

.ingredients-container {
  display: flex;
  flex-direction: column;

}

.ingredients-wrapper {
  display: flex;
  flex-direction: column;
}