.recipie-element {
  background-color: var(--white);
  padding: 2rem;
  width: 28rem;
  display: grid;
  grid-template-rows: 1fr 2fr;
  flex-direction: column;
  font-size: 1.4rem;
  border-radius: 1rem;
  margin: 1rem;
  align-items: center;
  justify-content: center;
}

/* details */
.details-element p {
  font-size: 1.4rem;
  margin: 0.6rem 0;
}

.recipie-element h1 {
  color: var(--red);
  margin: 0.6rem 0;
  font-size: 1.6rem;
}

/* steps */
.recipie-steps-container {
  border-radius: 1rem;
  margin-top: 2rem;
  margin: 2rem 0px;
  width: 28rem;
  height: 90%;
  align-self: baseline;
  display: flex;
  overflow: hidden;
  border: 2px solid var(--darckGreen);
}

.recipie-step-number {
  color: var(--red);
}

.recipie-step {
  flex-basis: 26rem;
  flex-shrink: 0;
  padding: 1rem;
}