.recipie-element {
  background-color: var(--white);
  padding: 1rem;
  width: 28rem;
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  border-radius: 1rem;
  margin: 1rem;
  height: calc(50vh - 10rem);
  align-items: center;
  justify-content: space-between;
}

/* details */
.details-element p {
  font-size: 1.4rem;
  margin: 0.6rem 0;
  padding: 0.5rem 0;
  border-bottom: 1px solid #00000020;
}

.recipie-element h1 {
  color: var(--red);
  margin: 0.6rem 0;
  font-size: 1.6rem;
}

/* steps */
.recipie-steps-container {
  border-radius: 1rem;
  margin-top: 1rem;
  width: 28rem;
  height: 90%;
  align-self: baseline;
  display: flex;
  overflow-y: auto;
  overflow-x: hidden;
  border: 2px solid var(--darckGreen);
}

.recipie-step-number {
  color: var(--red);
}

.recipie-step {
  flex-basis: 26rem;
  flex-shrink: 0;
  padding: 1rem;
}
