@import url("https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --orange: #fbb02d;
  --red: #fb6107;
  --yellow: #f2e787;
  --lightGreen: #7cb518;
  --darckGreen: #5c8001;
  --white: #fff;
}

html {
  font-size: 10px;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
}

body {
  min-width: 32rem;
  margin: 0 auto;
  /* max-width: 36rem; */
}

/* header */
.header {
  background-color: var(--darckGreen);
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-title {
  color: var(--white);
  margin: 0;
  font-size: 4rem;
}

/* main container */
.main-container {
  min-height: calc(100vh - 14rem);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--yellow);
  background-image: url("../public/leaf.svg");
  background-repeat: repeat;
  background-position: left bottom;
}

/* input element */
.input-form {
  padding: 0 1rem;
}

.input-form * {
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

.user-input {
  width: 24rem;
  padding: 1rem;
  border: none;
  border-radius: 0.8rem 0 0 0.8rem;
  background-color: var(--white);
  font-size: 1.4rem;
}

.label-input {
  font-size: 1.4rem;
  display: block;
  font-weight: 600;
  margin: 1rem 0;
}

.input-button {
  width: 6rem;
  padding: 1rem;
  background-color: var(--darckGreen);
  border: none;
  color: var(--white);
  border-radius: 0 0.8rem 0.8rem 0;
  font-size: 1.4rem;
}

/* listItem */
.listItem {
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30rem;
  border-radius: 0.8rem;
  background-color: var(--white);
}

.listItem h2 {
  margin: 0;
  padding-left: 1rem;
  font-weight: 400;
  font-size: 1.2rem;
}

.listItem span {
  width: 4rem;
  font-size: 1.4rem;
  padding: 1rem;
  background-color: var(--darckGreen);
  color: var(--white);
  border-radius: 0 0.8rem 0.8rem 0;
  text-align: center;
}

/* action button */
.actionButton {
  background-color: var(--darckGreen);
  border: none;
  color: var(--white);
  padding: 1rem;
  width: 30rem;
  border-radius: 0.8rem;
  font-size: 1.6rem;
  margin: 1rem;
}

/* footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-size: 1.4rem;
  background-color: var(--red);
  height: 6rem;
}

.spin {
  transform: rotate(0deg);
  animation: spin 5s infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
